$breakpoint-tablet: 768px; 
$breakpoint-: 768px; 
$breakpoint-tablet: 768px; 
$breakpoint-tablet: 768px; 
$breakpoint-tablet: 768px; 


/* for-phone-only */
@media (max-width: 599px) { }


/* for-tablet-portrait-up */
@media (min-width: 600px) { }


/* for-tablet-landscape-up */
@media (min-width: 900px) { }


/* for-desktop-up */
@media (min-width: 1200px) { }


/* for-medium-desktop-up */
@media (min-width: 1400px) { }


/* for-big-desktop-up */
@media (min-width: 1800px) { }