@use 'src/styles/colors' as c;

.settings {
  z-index: 100;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  
  @media (max-width: 599px) { 
    font-size: small;
    gap: 10px;
  }
}