@use 'src/styles/colors' as c;

.settings {
  z-index: 100;
  width: 800px;
  margin: auto;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}