@use 'src/styles/colors' as c;

@mixin center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.question-item__wrapper {
  margin: auto;
  margin-top: 20px;
  height: 700px;
  max-width: 800px;
  width: 100%;
  background-color: c.$bg;
  display: grid;
  grid-template-rows: 30px 4fr 3fr;
  border-radius: 15px;
  position: relative;
  padding: 25px;
  cursor: default;

  @media (max-width: 599px) {
    height: calc(100vh - 170px);
    margin-top: 10px;
    padding: 10px;
  }

  &>* {
    display: flex;

  }

  &> :first-child {
    justify-content: space-between
  }

  & h1 {
    @include center-text();
    font-size: 30px;
    font-weight: 700;
    cursor: default;
    user-select: none;

    @media (max-width: 599px) {
      font-size: 20px;
    }
  }
}

.question-item__info {
  & p {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid currentColor;
    padding: 1px 15px;
    border-radius: 20px;

    @media (max-width: 599px) {
      font-size: 10px;
      padding: 10px ;
    }

  }
}

.question-item__question {
  position: relative;
  color: darken(c.$gold, 5%);
}


.question-item__answers {
  display: grid;
  gap: 10px;

  &>* {
    @include center-text();
    background-color: c.$accent;
    font-size: 30px;
    cursor: pointer;
    border-radius: 15px;

    @media (max-width: 599px) {
      font-size: 15px;
    }
  }
}

.diff {
  text-transform: uppercase;
}