@use 'src/styles/colors' as c;

@mixin center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.question-item__wrapper {
  margin: auto;
  height: 700px;
  max-width: 800px;
  background-color: c.$bg;
  display: grid;
  grid-template-rows: 30px 4fr 3fr;
  border-radius: 15px;
  padding: 25px;

  &>* {
    display: flex;
  }

  &> :first-child {
    justify-content: space-between
  }

  & h1 {
    @include center-text();
    font-size: 3rem;
    font-weight: 700;
    cursor: default;
    user-select: none;
  }
}


.question-item__answers {
  display: grid;
  gap: 10px;

  &>* {
    @include center-text();
    background-color: c.$accent;
    font-size: 30px;
    cursor: pointer;
    border-radius: 15px;
  }
}