@use 'src/styles/colors' as c;

@mixin select-element {
  white-space: nowrap;
  padding-left: 20px;
  padding: 15px;
  user-select: none;


}

.container {
  overflow: hidden;
  width: 100%;
  z-index: 100;
  background-color: c.$bg;
  border-radius: 15px;

}

.header {
  @include select-element();
  outline: 1px solid rgba(c.$accent, 0.35);
  padding-left: 20px;
  position: relative;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid c.$text-main;
    border-top: 2px solid c.$text-main;
    position: absolute;
    right: 20px;
    transform: rotate(135deg);

    @media (max-width: 599px) {
      width: 7px;
      height: 7px;
    }
  }

  @media (max-width: 599px) {
    padding: 10px;
  }
}

.body {
  @include select-element();
  padding: 0;
  height: 0;
  transition-duration: 0.1s;

}

.open {
  @include select-element();
  height: 510px;
  padding: 0;
  padding-bottom: 10px;
  overflow-y: scroll;
  transition-duration: 0.1s
}

.item {
  padding: 15px;
  padding-left: 20px;
  cursor: default;
  user-select: none;

  &:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.active {
  color: c.$gold;
}


.open::-webkit-scrollbar {
  width: 2px;
}

.open::-webkit-scrollbar-thumb {
  background-color: rgba(c.$gold, 0.7);
  border-radius: 20px;
}